#keybind-configurator .form-group {
  padding: 5px;
  border-bottom: 1px solid #7a7971;
}

#keybind-configurator .form-group:last-child {
  border-bottom: none;
}

#keybind-configurator label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#keybind-configurator .bind-list {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

#keybind-configurator form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#keybind-configurator .form-group .fa-undo {
  flex-grow: 0;
  flex-basis: 20px;
  visibility: hidden;
}

#keybind-configurator .form-group:hover .fa-undo {
  visibility: visible;
}

#keybind-configurator input,
#keybind-configurator .title {
  flex-basis: 30%;
}
#keybind-configurator input {
  margin: 0 3px 0 0;
}

.keybind-lib-settings-icon {
  margin-left: -26px !important;
  margin-right: 3px !important;
  pointer-events: none;
  flex-grow: 0 !important;
  font-size: 130%;
}
